## LIST
 ### Ordered
 ### Changeable
 ### Allows duplicate values
 ### Indexable

In [8]:
fruits = ["apple", "orange", "apple", "Banana", 29, 10.1, True, False]

print(type(fruits))

<class 'list'>

In [10]:
fruits = list(("banana", "apple", "banana", 29, True))

print(type(fruits))

<class 'list'>

In [12]:
thislist = ["apple", "Prince", 20, False, 20.1,"mango", "kiwi"]
if "apple" in thislist:
    print("Haaa..isme hai")
else:
    print("Nahi hai")

Haaa..isme hai

## Change item values in list

In [13]:
name = ["Prince", "Shivam", "Aman", "Rohan"]

name[1]="Mohan"

print(name)

['Prince', 'Mohan', 'Aman', 'Rohan']

In [24]:
fruits = ['apple', 'orange', 'pineapple', 'papaya']

fruits[0:4:2] =['aman', 'vishal']


print(fruits)

['aman', 'orange', 'vishal', 'papaya']

In [2]:
name = ['a', 'b','c', 'd', 'e' ]

name.insert(2, "Prince")

name.append("Dog")

name.pop()

print(name)

['a', 'b', 'Prince', 'c', 'd', 'e']

In [ ]:
[start:end:step]

In [29]:
name = ["a", 'b', 'c', 'd']

print(len(name))

name.insert(2,'Prince')

print(len(name))

4
5

In [8]:
my_list= ["prince", 65, 12.5, True, "Dog", "cat"]

my_list.pop(2)

print(my_list)

['prince', 65, True, 'Dog', 'cat']

In [9]:
my_list= ["prince", 65, 12.5, True, "Dog", "cat"]

my_list.remove()

print(my_list)

TypeError: list.remove() takes exactly one argument (0 given)

In [11]:
name1= ["Prince", "Shivam", "raman", "aman"]
name2=["abc", "def", "xyz"]

name1.extend(name2)

print(name1)

['Prince', 'Shivam', 'raman', 'aman', 'abc', 'def', 'xyz']

In [18]:
fruits = ["apple", "orange", "apple"]

del fruits[0:2]

print(fruits)

['apple']

In [19]:
name= ["Prince", "Shivam", "raman", "aman"]

for i in name:
    print(i)

Prince
Shivam
raman
aman

In [20]:
num = [2,4,6,8,9]

b = [i*i for i in num]

print(b)

[4, 16, 36, 64, 81]

In [ ]:
list = [0,0,0,0,0]

In [22]:
list_with_zero = [0]*20

print(list_with_zero)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [24]:
list1 = ["Prince", "shivam", "vardhyanya"]

list2 = ["Aman", "Rohan", "Vishal"]

#Concatenation
list3 = list1+list2

print(list3)

['Prince', 'shivam', 'vardhyanya', 'Aman', 'Rohan', 'Vishal']

In [25]:
name = ["Prince"] * 10

print(name)

['Prince', 'Prince', 'Prince', 'Prince', 'Prince', 'Prince', 'Prince', 'Prince', 'Prince', 'Prince']

In [26]:
number = [1,67,8,9,11]

num= sorted(number)

print(num)

[1, 8, 9, 11, 67]

In [27]:
#Converting string into a list
name = "Prince"

nameList = list(name)

print(nameList)

['P', 'r', 'i', 'n', 'c', 'e']

In [32]:
fruits = ["apple", "bananan", "Papaya", "mango", "Litchi", "Kiwi"]

new_fruits = fruits.sort()

print(new_fruitsfruits)

None

In [36]:
name = ['a', 'b', 'f', 'd', 'l', 'j']



name.sort(reverse=True)

print(name)

['l', 'j', 'f', 'd', 'b', 'a']

In [37]:
number = [20,21,80,78]

number.reverse()

print(number)

[78, 80, 21, 20]

In [38]:
a = [10,20,90,60]

a = a[::-1]

print(a)

[60, 90, 20, 10]

In [40]:
nested_list = [["Prince", "Shivam"], [20,30,"abc"], [True, False]]

print(nested_list[0])

['Prince', 'Shivam']

In [42]:
name = [10,20,"prince"]

name.clear()

name.append("Banana")

print(name)

['Banana']

In [45]:
new_list = ["Prince", 29, 20, "Mango"]

copy_list = new_list

new_list.append("Tango")

print(copy_list)

['Prince', 29, 20, 'Mango']

In [48]:
a = [29,23,12,123]

b = a.copy()

a[2]="Prince"

print(b)
print(a)

[29, 23, 12, 123]
[29, 23, 'Prince', 123]

In [49]:
a = [29,23,12,123]

b = a

a[2]="Prince"

print(b)

[29, 23, 12, 123]

In [52]:
list1 = [2,3,4,5,2]

list2 = [[5,6],7,8,9]

list = list1+list2

print(list)

[2, 3, 4, 5, 2, [5, 6], 7, 8, 9]